@import './scss/frappe';
@import './scss/variables';
@import './scss/mixins';
@import './scss/workspace';
@import './scss/activewindow';
@import './scss/datetime';
@import './scss/system-shutdown';
@import './scss/media-widget';

* {
  // font-family: 'MiSans Light', 'NotoSansMono Nerd Font';
  // font-family: 'Ubuntu Nerd Font';
  font-family: 'MiSans SemiBold', 'Ubuntu Nerd Font';
  font-size: 10px;
  transition: 0.2s;
}

.hbar {
  background-color: rgba(35, 38, 52, .70);

  min-height: 2.2em;
    font-weight: bold;
    font-size: 1.1em;
    color: $text;
    border-bottom: 1 solid $crust;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.8);
}