.background.system-shutdown {
    background-color: rgba(0,0,0,0.5);

    .system-shutdown-window-widget {
        @include popup-window();
        border-radius: 20px;
        padding: 50px;
        
        .system-shutdown-window-widget-box {
            margin: 10px;

            .system-shutdown-button-widget-button {
                @include button(true);
                min-width: 128px;
                min-height: 128px;
                margin: 16px;

                .icon {
                    background-size: 128px 128px;
                    background-repeat: no-repeat;
                    // TODO: PNGs maken want het systeem schaalt blijkbaar niet netjes.
                    &.lock{
                        background-image: url('/usr/share/icons/Tela-circle-dracula-dark/scalable/apps/system-lock-screen.svg');
                    }

                    &.suspend {
                        background-image: url('/usr/share/icons/Tela-circle-dracula/scalable/apps/system-suspend-hibernate.svg');
                    }

                    &.restart {
                        background-image: url('/usr/share/icons/Tela-circle-dracula-dark/scalable/apps/system-restart.svg');
                    }

                    &.shutdown {
                        background-image: url('/usr/share/icons/Tela-circle-dracula-dark/scalable/apps/system-shutdown.svg');
                    }
                    
                    &.logout {
                        background-image: url('/usr/share/icons/Tela-circle-dracula-dark/scalable/apps/system-log-out.svg');
                    }
                }
            }
        }
    }
}

.system-shutdown-widget {
    .system-shutdown-widget-button {
        @include button(true);
    }
}
